@import "../../../assets/styling/scss/fonts.scss";
@import "../../../assets/styling/scss/colors.scss";
@import "../../../assets/styling/scss/globals.module.scss";
@import "../../../assets/styling/scss/mixins.scss";
@import "../../../assets/styling/scss/reset.scss";
@import "../../../assets/styling/scss/effects/animations/animations.module.scss";

$firstAnimationDuration: 3s;

.mainPage {
  width: 100%;
  height: 100%;
  background: url("../../../assets/images/globo_urca.jpg") center center no-repeat;
  background-size: cover;

  .mainVideo {
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .pitchPhrase {
    @include flexBox(column, flex-start, flex-start);
    width: 100%;
    gap: 7.5vh;
    position: absolute;
    z-index: 2;
    top: 7.5vh;
    left: 5vw;

    h1,
    h2 {
      color: white;
    }

    h1 {
      @include fadeIn($firstAnimationDuration);
      font-size: $font-xbig;
    }

    h2 {
      @include fadeIn($firstAnimationDuration - 1, $firstAnimationDuration - 1, both);
      margin-left: 2vw;
      max-width: 85vw;
      font-size: $font-big;
    }
  }
}
