$primaryYellow: #f2d917;
$primaryRed: #900000;
$primaryBlack: #000000;

$primary4: #022601;

$dark: #0e1e2f;
$dark2: #0d0d0d;
$dark-transparent: rgba(0, 0, 0, 0.5);
$overlay: rgba(0, 0, 0, 0.3);

$gray: rgb(155, 155, 155);
$gray2: rgb(170, 170, 170);

$grayBorder: rgba(0, 0, 0, 0.2);

$light: #f2f2f2;
$whiteTransparent: rgba(255, 255, 255, 0.5);

$gold: #e5ca00;
